.env
.env.*
!.env.example

.venv/
venv/
.python-version

__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/

*.sqlite
*.sqlite-shm
*.sqlite-wal
*.db

logs/
dist/
/build/
!/src/semantic_index/build/
!/src/semantic_index/build/*.py
*.egg-info/

.DS_Store
.idea/
.vscode/
